* {
    font-family: sans-serif;
    box-sizing: border-box;
    /*
       CSS comment
       The box-sizing CSS property sets how the total width and height of an element are calculated. 
       If you set box-sizing: border-box; on an element, padding, and border are included in the width and height:
    */
}

body {
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* 
       list-style: none = No marker is shown 
     */
}

a {
    color: #34495e;
    text-decoration: none;
    /* 
       text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
       Comment it out and check the result on the page.
     */
}

.logo {
    margin: 0;
    font-size: 1.1em;
}

section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
    /* 
          display: block - displays an element as a block element. It starts on a new line, and takes up the whole width
       */
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

    /* 
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

    -webkit-box-shadow and -moz-box-shadow were browser-specific box-shadow implementations for
     WebKit browsers like Google Chrome and Safari, and mozilla firefox. Such prefixes are, usually
     used, when a new CSS feature appears and disappears when the feature is fully supported by 
     the browser.

     In short, concerning Vendor Prefixes (-webkit, -moz, etc.):  
       1- A new CSS feature appears;
       2- Browsers test the feature; 
       3- Browsers add a prefix to it to allow using it;
       4- There is no need for the prefix anymore when the feature is fully supported.
     */

    border-radius: 5px;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.nav {
    margin-top: 5px;
}

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #34495e;
    font-size: .99em;
    
}

/* Pseudo-class selector */
.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

/* 
      Applies when the browser's width is 800px wide or wider: 
*/

@media (min-width: 800px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .logo {
        visibility: hidden;
    }
}

/* 
     Applies when the browser's width is 1000px wide or wider: 
     */

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.grid {
    margin: 20px auto;
    width: 100%;
    border: 1px solid #746161;
    background-color: #ddd;
    display: grid;
    grid-template-columns: auto auto ;
    /*     
      grid-template-columns - the grid-template-columns CSS property defines the numbers and  
      sizing functions of the grid columns.
    */
    gap: 10px 10px;
    /* 
    gap: row-gap and column-gap.
    */
}

.grid p {
    background-color: rgb(177, 164, 164);
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    
}
p:hover {
    text-shadow: 2px 2px #000000;
    
}

p::first-letter {
    font-size: xx-large;
    color: #8A2BE2;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: auto;
    }
}

body section div strong{
    color: rgb(29, 14, 238);
}

body section table thead tr > th{
    background-color: rgb(139, 245, 165);
}

body section table tbody tr > td{
    background-color: rgb(139, 245, 165);
}

.footer{
    background-color: rgb(173, 170, 170);
    text-align: center;
    text-shadow: 1px 1px #000000;
}
.static {
    position: static;
    background-color: #ad2121;
    border: 3px solid #ad2121;
}

.relative {
    position: relative;
    left: 10px;
    top: 10px;
    background-color: #5721ad;
    border: 3px solid #5721ad;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #ad2188;
    border: 3px solid #ad2188;
}

.parentpositioning {
    background-color: #6921ad;
    width: 550;
    height: 400;
    position: relative;
    /*position: relative; static*/
}

.absolute {
    position: absolute;
    top: 40px;
    width: 500px;
    background-color: #ada121;
    border: 3px solid #ada121;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
}